ci:
  autoupdate_schedule: "quarterly"

default_language_version:
  python: "python3.12"

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v6.0.0"
    hooks:
      - id: "check-merge-conflict"
      - id: "trailing-whitespace"

  - repo: "https://github.com/sirosen/check-jsonschema"
    rev: "0.36.0"
    hooks:
      - id: "check-github-workflows"

  - repo: "https://github.com/sirosen/texthooks"
    rev: "0.7.1"
    hooks:
      - id: "alphabetize-codeowners"
      - id: "fix-smartquotes"
        args: ["--show-changes"]
      - id: "fix-ligatures"
        args: ["--show-changes"]
      - id: "forbid-bidi-controls"

  - repo: "https://github.com/rhysd/actionlint"
    rev: "v1.7.10"
    hooks:
      - id: "actionlint"
