name: pr_has_changelog
on:
  workflow_call:
    inputs:
      skip-users:
        description: |
          The usernames whose PRs should skip the check, as a JSON list.
          Typically a list of bot users.
        default: '["pre-commit-ci[bot]", "dependabot[bot]"]'
        type: 'string'

      changelog-type:
        description: 'The file extension used for changelog items (e.g., "md" or "rst").'
        type: 'string'
        default: 'md'

      base-branch:
        description: 'The branch against which the changelog comparison is run.'
        type: 'string'
        default: 'main'

jobs:
  check_event_and_label:
    runs-on: ubuntu-latest
    outputs:
      # look for a label that indicates that we should skip subsequent checks
      # store the result of this in an output
      skip_label_set: ${{ (github.event_name == 'pull_request') && contains(github.event.pull_request.labels.*.name, 'no-news-is-good-news') }}
      skip_user_detected: ${{ contains(fromJSON(inputs.skip-users), github.event.pull_request.user.login) }}

    steps:
      - name: fail on unsupported events
        if: ${{ ! (github.event_name == 'pull_request') }}
        run: |
          echo "::error:: pr_has_changelog can only run on Pull Requests"
          exit 1

  check_has_news_in_changelog_dir:
    needs: check_event_and_label
    runs-on: ubuntu-latest
    steps:
      # do a deep fetch to allow merge-base and diff
      # and ensure we are checking out the PR head
      - uses: "actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8" # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          fetch-depth: 0

      # if the skip label is set, the job should succeed but this step should be skipped
      - name: check PR adds a news file
        if: |
          ! (
            needs.check_event_and_label.outputs.skip_label_set ||
            needs.check_event_and_label.outputs.skip_user_detected
          )
        # TODO: this will currently accept edits to a README.md in the changelog.d/ dir
        #       we should ideally exclude README.* or even a configurable pattern
        run: |
          news_files="$(git diff --name-only "$(git merge-base origin/${{ inputs.base-branch }} "$GITHUB_SHA")" "$GITHUB_SHA" -- changelog.d/*.${{ inputs.changelog-type }})"
          if [ -n "$news_files" ]; then
            echo "Saw new files. changelog.d:"
            echo "$news_files"
          else
            echo "No news files seen"
            exit 1
          fi
